.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  border: 0.1px solid lightgray;
  border-radius: 2px;
  width: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 650px;
  margin: 10vh auto;
  background-color: white;
}

body {
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
}

button {
  margin: 2px;
  background-color: transparent;
  border: 2px solid black;
  outline: none;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 0.4s;
}

button:hover {
  border: 2px solid #f4cb42;
}

#new-game {
  padding: 4px;
  transition: 0.4s;
  border: 2px solid black;
}

#new-game:hover {
  border: 2px solid #f4cb42;
}

.App-title {
  margin: 0 auto;
  color: black;
  background-color: #f4cb42;
  margin-top: 45px;
  margin-bottom: 3%;
  width: 40%;
}

.grid {
  margin: 3% 5%;
  display: grid;
  justify-content: center;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.score-tracker {
  font-size: 20px;
  font-weight: bold;
}

.first-turn-X,
.first-turn-O {
  height: 30px;
  width: 30px;
  margin: 3px;
  padding: 2px;
}

@media all and (max-width: 600px) {
  .App-title {
    width: 80%;
    margin-top: 25px;
  }

  .App {
    width: 85%;
    height: 550px;
    margin: 3vh auto;
  }
}

@media all and (min-width: 600px) and (max-width: 900px) {
  .App-title {
    width: 60%;
  }

  .App {
    width: 85%;
    height: 600px;
    margin: 3vh auto;
  }
}

@media all and (width: 320px) {
  .App {
    width: 92%;
    height: 520px;
    margin: 3vh auto;
  }

  .grid {
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 90px 90px 90px;
  }
}
